.heading-sidebar {
	background: url(images/title-sidebar.png) no-repeat top right;
	height: 22px;
	line-height: 22px;
	margin-bottom: $baseline;
	h3 {
		margin-left: 50px;
	}

	
}

.box-sidebar {
	img {
		width: 100%;
	}
}